.agreement-wrapper{
    margin-top: 6rem;
}

.hola {
    background-color: rebeccapurple;
    height: 4rem;
    width: 4rem;
}
.agreement-text{
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 5rem;
    margin-right: 5rem;

    color: #000000;
}

.agreements-buttons{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    margin-left: 20.5rem;
}

.ag{
    margin-left: 23rem;
}