.person{


    height: 4.25rem;
    width: 53rem;
    text-align: center;
    vertical-align: middle;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    mix-blend-mode: normal;
}

.info-report{
    width: 9.75rem;
    text-align: left;
}

.person-wrapper{
    display: flex;
    flex-direction: row;
}

.name-report{
    padding-left: 5rem
}

.phone-report{
    margin-left: 3rem;
    width: fit-content;
}

.carne-report{
    margin-left: 5rem;
    width: fit-content;
}

.status-report{
    margin-left: 4rem;
    width: fit-content;
}

.sign{
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: #21822B;
    margin-top: 1rem;
}

.sign-wrapper{
    width: 3rem;
    padding-left: 0.5rem;
}
