.person{
    background-color: #c4c4c4;
    height: 4.25rem;
    width: 53rem;
    text-align: center;
    vertical-align: middle;
}

.odd{
    background-color: #c4c4c4;
}

.even{
    background-color: #c4c4c4;
}